.parent{
    background-color: brown;
    width: 500px;
    height: 500px;
   margin: auto;
    
    
}
.child{
    background-color: rgb(142, 32, 201);
    width: 50%;
    height: 50%;

    font-size: 50px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
    transition: 1s linear;
    /* linear transition */
    transition: 1s ease-in-out;
    /* slow at first..speeds up in mid..slows down at last */
    /* 1s for transforming */
    transition: 1s cubic-bezier(0.68, -0.55, 0.265, 1.55) 2s;
    /* 2s delay ...after hovering,transition starts */

    animation: left-to-right 1s ease-in forwards ;
    /* forwards drn */
    animation: left-to-right 1s ease-in forwards 3;
    /* 3 times repeat the process */
    animation: left-to-right 1s ease-in forwards alternate;
    /*  moves in opposite drn after an iteration*/
    animation: left-to-right 1s ease-in forwards infinite alternate;
    /* repeats motion infinite times */
}
.parent:hover .child{
    transform: translateX(100%);
    /* in X drn. 100% */ 
    animation-play-state: paused;
    /* pauses when hovered */
}

@keyframes left-to-right { 
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateY(150%);
        background-color: antiquewhite;
    }
    66%{
        transform: translateX(150%)  translateY(90%);
        background-color: blue;
    }
    100%{
        transform: translateX(100%); 
        background-color: aqua;
    }
}




