*{
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

html,body{
    margin:0;
}

.full-screen-daba{
    background-image:url('https://static.toiimg.com/thumb/93105946/rajasthan.jpg?width=1200&height=900');
    height: 100vh;
    width: 100vw;
    background-size: cover;
    /* background-position: center; */
    display: flex;
    /* vertical */
    align-items: center;
    /* horizontal */
    justify-content: center;
}
.login-title{
    color: rgb(226, 233, 238);
    font-size: 3em;
    margin-top: 0;
    text-align: center;
    margin-bottom: 40px;
    font-weight:normal ;

}
.login-daba{
    background-color: hsla(201, 100%, 6%, 0.6);
    padding:90px 50px;
    min-width: 400px;
    width: 75%;
    max-width: 600px;
}
.input-daba{
    display: flex;
    flex-direction: column;
    /* font-weight:100; */
    margin-bottom: 20px;
}
.input-daba label{
    color: hsla(228, 20%, 95%, 0.712);
    /* font-weight: lighter; */
    font-size: 1.25em;
    margin-bottom: 3px;
}
.input-daba input{
    /* font-size:1.1em; */
    padding: 5px;
    outline: none;
    background-color: hsla(208, 38%, 39%, 0.521);
    border:1.5px dotted hsla(211, 54%, 15%, 0.607);
    border-radius:5px ;
}

.input-daba input:focus{
    background-color:hsla(239, 82%, 15%, 0.611) ;
    color:white;   
}
.submit-daba{
    padding: 10px 50px;
    width: 100%;
    cursor: pointer;
    outline: none;
    border: 2px double hsla(200, 23%, 3%, 0.6);
    font-size:1.3em;
    border-radius:10000px;
    margin-top:50px;
    color:rgb(1, 6, 27);
}
.submit-daba:hover{
    background-color: hsla(200, 37%, 52%, 0.855);
    color: azure;
}
.submit-daba:focus{
    background-color: hsla(200, 89%, 10%, 0.855);
    color: white;
}
